* {
  margin: 0;
  padding: 0;
  background-color: #f5f5fa;
}

#root {
  max-width: 768px;
  margin: 0 auto;
  text-align: center;
}

.PurpleBtn {
  margin-top: 180px;
}

.ProfilePicture {
  margin-top: 60px;
}
